body,
footer {
  color: white;
  background-color: black;
  text-align: center;
  display: inline-block;
}
h1 {
  font-size: 4.5rem;
  font-weight: 900;
  width: 80%;
  margin: 0 auto;
}
h2 {
  font-size: 4rem;
  width: 80%;
  margin: 0 auto;
}
img {
  width: 50%;
  height: 50%;
  margin: 0.618em auto;
  display: block;
  float: both;
}
audio {
  margin: 0.618em;
}
p,
h1,
h2,
footer {
  border: thick solid white;
  border-radius: 0.618em;
  padding: 0.618em;
  margin: 0.618em auto;
}
footer {
  font-size: 2rem;
}
article {
  font-size: 3rem;
  width: 80%;
  margin: 0 auto;
}
li {
  font-size: 2rem;
  border: thick solid white;
  border-radius: 0.618em;
  cursor: pointer;
  display: inline-block;
  margin: 0.618em;
  padding: 0.618em;
  list-style-type: none;
}
li:hover {
  background-color: rgba(0, 100, 0, 0.9);
  transition-delay: 10ms;
  transition-duration: 0.5s;
}
li.active {
  background-color: rgba(100, 0, 0, 0.9);
}
[data-content] {
  display: none;
}
.active[data-content] {
  display: block;
}
