body,
footer,
select {
  color: white;
  background-color: black;
  text-align: center;
  display: inline-block;
}
h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
h2 {
  font-size: 4rem;
}
h1,
h2,
article {
  width: 80%;
  margin: 0 auto;
}
img {
  width: 50%;
  height: 50%;
  margin: 0.618em auto;
  display: block;
  float: both;
}
audio {
  margin: 0.618em;
}
p,
h1,
h2,
footer,
label,
button {
  border: thick solid white;
  border-radius: 0.618em;
  padding: 0.618em;
  margin: 0.618em auto;
}
footer {
  font-size: 2rem;
}
article {
  font-size: 3rem;
}
label {
  font-size: 2rem;
}
select,
button {
  font-size: 1.5rem;
  background-color: black;
  color: white;
}
select {
  width: 30%;
  margin: 0 auto;
  padding: 0.618em;
  text-align: center;
}
button:hover {
  background-color: rgba(0, 100, 0, 0.9);
  transition-delay: 10ms;
  transition-duration: 0.5s;
}
button:active {
  background-color: rgba(100, 0, 0, 0.9);
}
.content-slider,
#playButton,
#pauseButton {
  width: auto;
  height: auto;
  transition: 2s;
}
audio {
  width: 55vw;
}
.song-slide,
.song-slide-main {
  float: left;
  margin: 0px;
  padding: 0px;
}
.song-slide {
  display: none;
}
.song-slide-main {
  left: 0;
  position: relative;
  display: static;
  width: 100%;
  margin: 0;
}
