* {
  color: white;
  background-color: black;
  text-align: center;
}
:root {
  --font-max: 3.9vh;
}
h2,
footer,
button {
  padding: 0 1em;
  border: 0.1em solid white;
  border-radius: 2em;
  overflow: hidden;
}
h2 {
  font-size: calc(var(--font-max) * 2);
}
h2,
button {
  margin: 0.1em;
  justify-content: center;
}
button {
  font-size: var(--font-max);
  transition-property: all;
  transition-duration: 300ms;
}
button:hover {
  box-shadow: 0.1em 0.1em 0.1em 1px grey;
  font-size: calc(var(--font-max) + 10px);
}
body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
select,
footer {
  font-size: calc(var(--font-max) / 1.618);
}
footer {
  display: absolute;
  bottom: 0;
}
.song-slide {
  display: none;
}
.visible {
  animation: songTransitionIn 700ms ease-in-out forwards;
}
@keyframes songTransitionIn {
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  50% {
    opacity: 0.5;
    transform: translateX(15vw);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-7vw);
  }
  100% {
    opacity: 1;
  }
}
@keyframes songTransitionOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}