@media only screen and (max-width: 720px) {
  :root {
    --font-max: 3vh;
  }
}
@media only screen and (min-width: 720px) {
  :root {
    --font-max: 3.9vh;
  }
}
* {
  color: white;
  background-color: black;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
header,
footer {
  border: 5px solid white;
  border-radius: 2em;
}
header {
  font-size: var(--font-max);
  min-height: 97vh;
  height: auto;
  width: 90vw;
  margin-top: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  padding: 0 .5em;
}
figure {
  height: 100vh;
  margin-bottom: 40px;
}
img {
  height: 100%;
  width: auto;
  margin: 0 auto;
  max-width: 98vw;
}
footer,
figcaption {
  font-size: calc(var(--font-max) / 1.618);
  padding: 0px .5em;
}
